<form (submit)="addUser()">
  <input [(ngModel)]="newName" name="newName" placeholder="Usuario">
  <button type="submit">Nuevo</button>
</form>

<ul class="list-group items">
  <li *ngFor="let user of usersService.get() | async"
      [class.active]="isSelected(user)"
      (click)="onSelect(user)"
      class="list-group-item">
    {{user.username}}
    <span *ngIf="isSelected(user)" style="float: right"><a [routerLink]="['/users', user.id]" style="color: white">Editar</a> | <a
      (click)="remove(user)" style="color: white">Borrar</a></span>
  </li>
</ul>
