<div class="row bottom-buffer">
  <div class="col-sm-2">
    <a [routerLink]="['/reparations', 'new']" class="btn btn-primary" type="button" >
      <span class="glyphicon glyphicon-plus-sign"></span> Nueva Reparación
    </a>
  </div>
</div>

<div class="row" *ngIf="list.length === 0">
  <div class="col-sm-12">
    <hr>
    <p>No se encontraron reparaciones...</p>
  </div>
</div>

<div class="row" *ngIf="list.length !== 0">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#Serie</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Responsable</th>
          <th>Creado</th>
          <th>Actualizado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.deviceSerialNumber}}</td>
          <td>{{item.deviceTypeName}}</td>
          <td>{{item.currentStateName}}</td>
          <td>{{item.currentResponsibleName}}</td>
          <td>{{item.creationDate | date}}</td>
          <td>{{item.lastUpdated | date}}</td>
          <td style="white-space: nowrap;">
            <a tooltip="Editar"
               class="table-link btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a tooltip="Borrar"
               class="table-link btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
