<div class="row bottom-buffer">
  <div class="col-sm-2">
    <p>
      <a [routerLink]="['/reparations', 'new']" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-plus-sign"></span> Nueva Reparación
      </a>
    </p>
  </div>
</div>

<div class="row" *ngIf="list.length === 0">
  <div class="col-sm-12">
    <p>No se encontraron reparaciones...</p>
  </div>
</div>

<div class="row" *ngIf="list.length !== 0">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#Serie</th>
          <th>Tipo de Equipo</th>
          <th>Estado</th>
          <th>Ciclo</th>
          <th>Creado</th>
          <th>Actualizado</th>
          <th>Responsable</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.deviceSerialNumber}}</td>
          <td>{{item.deviceTypeName}}</td>
          <td>{{item.completed ? 'FINALIZADO' : item.currentStateName}}</td>
          <td>{{item.reparationCycleName}}</td>
          <td>{{item.creationDate | date}}</td>
          <td>{{item.lastUpdated | date}}</td>
          <td>{{item.currentResponsibleName}}</td>
          <td style="white-space: nowrap;">
            <a tooltip="Estados Históricos" [routerLink]="['/reparations', item.id, 'historic-states']"
               class="table-link btn btn-xs btn-info">
              <span class="glyphicon glyphicon-folder-open"></span>
            </a>
            <a tooltip="Cambiar Estado" [routerLink]="['/reparations', item.id, 'state-change']"
               class="table-link btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-forward"></span>
            </a>
            <a tooltip="Borrar" (click)="removeItem(item)"
               class="table-link btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
