<div *ngIf="loaded">
  <div class="modal-header dialog-header">
    <legend style="margin-bottom:0; border-bottom: 0;">Estados Válidos</legend>
  </div>
  <p></p>
  <div class="row">
    <div class="col-sm-6">
      <select class="form-control input-md" [formControl]="deviceTypeControl">
        <option *ngFor="let obj of deviceTypes | async" [value]="obj.id">{{obj.name}}</option>
      </select>
    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary" (click)="add()" [disabled]="!deviceTypeControl.valid">Agregar</button>
    </div>
  </div>
  <p *ngIf="error" class="help-block" style="color: red;">{{error}}</p>
  <div class="row" *ngIf="list.length === 0">
    <div class="col-sm-12">
      <p>{{notFoundItemsText}}</p>
    </div>
  </div>

  <div class="row" *ngIf="list.length !== 0">
    <div class="col-sm-12">
      <ul class="list-group items">
        <li class="list-group-item" *ngFor="let obj of list">
          {{obj.name}}
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" (click)="close()">Cerrar</button>
  </div>
</div>
